.question-details-component {
    display: flex;
    height: 100vh;
    box-sizing: border-box;
    padding: 20px 20px 15px 20px;
    background-color: lightgray;
}

.question-details {
    flex: 1 0;
    background-color: white;
    margin: 0 10px;
    border-radius: 8px;
    padding: 15px 20px;
}

.question-title {
    font-weight: 600;
    font-size: 25px;
}

.question-complexity {
    color: rgb(50, 205, 50);
}

.return-icon {
    font-size: 40px;
    cursor: pointer;
    border-radius: 10px;
    bottom: 20px;
    position: absolute;
}