.code-editor-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1px
}

.code-container {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1px
}

.editor-container {
  flex: 1;
  min-width: 0;
  margin-bottom: 5px;
  box-sizing: border-box;
}

.console-result {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  max-height: 0;
}

.visible {
  max-height: 100px;
  background-color: white;
  padding: 10px 20px;
  border-radius: 8px;
  margin: 10px 0;
}

.editor {
  border-radius: 8px;
  padding: 10px;
  background-color: white;
}

p {
  white-space: pre-wrap;
}

.editor-info-container {
  flex: 1;
  min-width: 0px;
  border-radius: 8px;
  padding: 10px;
  background-color: white;
}