.match-button-box {
  position: fixed;
  right: 30px;
  bottom: 40px;
  padding: 10px;
  min-width: 100px;
  justify-content: center;

  border: 3px solid black;
  padding: 7px;
  border-radius: 15px;
}

.match-button-box .links {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.match-button-box .icon {
  padding: 0 5px;
  font-size: 30px;
  color: green;
}

.match-button-box:hover {
  background-color: rgb(50, 205, 50, 0.3);
  cursor: pointer;
}