.MuiDialog-paper {
  min-width: 500px;
  min-height: 300px;
  padding: 50px;
  position: relative;
}

.MuiDialog-paper.title {
  font-weight: 600;

}

.warning {
  color: red;
  text-align: center;
}

.start-match-button {
  position: absolute;
  right: 30px;
  bottom: 40px;
  padding: 10px;
  min-width: 100px;
  justify-content: center;
  border: 3px solid black;
  padding: 7px;
  border-radius: 15px;
}

.start-match-button .icon {
  padding: 0 5px;
  font-size: 30px;
  color: green;
}

.start-match-button:hover {
  background-color: rgb(50, 205, 50, 0.3);
  cursor: pointer;
}