.login-container {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

.login-container .email, .password {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
}

.login-container label,input {
    margin-top: 10px;
    width: 80%
}

.login-container > * {
    display: flex;
    flex-direction: column;
}

.button {
    margin-top: 30px;
    border: 2px black solid;
    border-radius: 7px;
    padding: 5px;
    min-width: 100px;
    text-align: center;
    background-color: white;
}

.button:hover {
    cursor: pointer;
    background-color: grey;
}