.console-container {
    padding: 7px 20px;
    border-radius: 8px;
    display: flex;
    flex-shrink: 1;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.console-container > p {
    text-align: center;
    font-size: 18px;
    margin: 0;
    color: rgb(50, 50, 50, 0.8);
}


.submit-code-button {
    padding: 15px;
    border-radius: 20px;
    border-style: hidden;
    background-color: #8ddb8d;
    font-size: 14px;
    width: max-content;
    color:black;
}

.show-console-button {
    display: flex;
    align-items: center;
}

.show-console-button:hover {
    cursor: pointer;
}

.show-console-button > .arrow-up-icon {
    font-size: 30px;
    color: rgb(50, 50, 50, 0.8);
}

.show-console-button:hover > p, .arrow-up-icon {
    color: rgb(50, 50, 50);
}
  
.submit-code-button:hover {
    cursor: pointer;
    background-color: rgb(50, 205, 50, 0.7);
}