.body {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.left {
  width: 70%;
}

.right {
  width: 25%;
}

.field {
  padding: 10px 10px;
  width: 98%;
  font-size: 16px;
  border-width: 1px;
}

.description {
  height: 100px;
  resize: none;
}

.btn-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 60px;
}

.btn {
  padding: 15px;
  border-radius: 20px;
  border-style: hidden;
  background-color: #8ddb8d;
  font-size: 14px;
  width: max-content;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(50, 205, 50, 0.7);
}

.post-form {
  width: 70%;
  margin: auto;
  padding-bottom: 10%;
}

.section-title {
  font-weight: 500;
}

.editor {
  border-radius: 8px;
  background-color: white;
  border: solid 3px #939393;
}

.solution {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.addbtn {
  height: 50%;
  aspect-ratio: 1;
  border-radius: 50%;
}